.asset_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 96px;
  align-items: center;
}
.asset_list__item {
  width: 292px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.asset_list__item__top {
  position: absolute;
  top: -25px;
  z-index: 1;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 50%;
  background-color: #1e2031;
}

.asset_list__item__bottom {
  background: #1c2035;
  backdrop-filter: blur(50px);
  height: 350px;
  width: 292px;
  background: url("../../assets/images/asset_comp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.asset_list__item__bottom__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 76px;
}
.asset_list__item__bottom__item__title {
  font-weight: 600;
  font-size: 12px;
  color: #737bae;
}

.asset_list__item__top__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
