@font-face {
  font-family: "Tomorrow";
  src: url("./assets/fonts/Tomorrow-Regular.ttf") format("truetype");
}

.main_container {
  min-height: 100vh;
  background-color: #13172b;
  font-family: "Tomorrow";
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_container::-webkit-scrollbar {
  display: none;
}
